<h1>Projects</h1>
<ul>
<% @projects.each do |project| %>
    <li><strong><%= project.name %></strong>
                : <%= project.description %>.
                 Amount needed to raise - <%= number_to_currency(project.target_pledge_amount) %>
    </li>
    <p><%= project.website %></p>
    <p>Pledging ends on: <%= project.pledging_ends_on %></p>
<% end %>
</ul>

