    <h1><%= @projects.name %></h1>
    <p><%= @projects.description %></p>
    <p><%= @projects.target_pledge_amount %></p>
    <p><%= @projects.pledging_ends_on %></p>
    <%= link_to('All Projects', root_path) %>
